ion-content {
  --background: #ffffff;
  --color: black;
}

/* Banner Styling */
.banner-image {
  width: 100%;
  max-height: 700px;
  object-fit: cover;
  margin-bottom: 20px;
}

.banner-title {
  text-align: center;
  font-weight: bold;
  color: #4e4c45;
  letter-spacing: 20px;
  font-size: 70px;
  margin-bottom: 10px;
}

.banner-subtitle {
  text-align: center;
  color: black;
  margin-bottom: 20px;
  font-size: 15px;
}

/* Description Paragraph */
.description {
  text-align: center;
  font-size: 25px;
  line-height: 1.5;
  color: black;
  margin: 0 auto;
  max-width: 600px;
  margin-bottom: 20px;
}

/* Prayer Categories Container */
.prayer-categories-container {
  background: url('/assets/bg.png') no-repeat center center;
  background-size: cover;
  padding: 20px;
}

/* Prayer Categories */
.prayer-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Default: 3 columns */
  gap: 16px;
  margin-top: 20px;
}

.prayer-box {
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 200px;
  height: 250px;
  border: 2px solid #ddd;
  border-radius: 10px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05); /* Slight zoom */
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  .prayer-text {
    margin-top: 10px;
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
  }

  .prayer-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 12px;
    padding: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    &:hover {
      opacity: 1; /* Show details on hover */
    }
  }
}

/* Modal Styles */
ion-modal::part(content) {
  --background: #000000;
}

.modal-content {
  padding: 40px;
  background: #ffffff;
  color: #6c0e0e;
  border-radius: 10px;
  text-align: center;
}

ion-modal ion-button {
  margin-top: 100px;
  background-color: #4e4c45;
  color: white;
  border-radius: 5px;

  &:hover {
    --background: #080808;
  }
}

/* Small Devices (phones in portrait) */
@media (max-width: 576px) {
  .prayer-categories {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
  }

  .prayer-box {
    width: 100%; /* Full width for each prayer box on small screens */
    height: auto;
  }

  .banner-title {
    font-size: 30px;
    letter-spacing: 10px;
  }

  .description {
    font-size: 15px;
    padding: 10px;
  }
}

/* Extra Small Devices (phones in portrait) */
@media (max-width: 400px) {
  .banner-title {
    font-size: 24px;
    letter-spacing: 5px;
  }

  .banner-subtitle {
    font-size: 14px;
  }

  .prayer-box {
    width: 100%;
    height: auto;
  }

  .description {
    font-size: 15px;
    padding: 10px;
  }
}

/* Small Devices (landscape phones) */
@media (max-width: 576px) {
  .banner-title {
    font-size: 30px;
    letter-spacing: 10px;
  }

  .prayer-box {
    width: 90%;
    height: auto;
  }
}

/* Medium Devices (tablets) */
@media (max-width: 768px) {
  .prayer-categories {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
  }

  .banner-title {
    font-size: 40px;
    letter-spacing: 15px;
  }

  .prayer-box {
    width: 100%;
    height: auto;
  }
}

/* Large Devices (desktops) */
@media (max-width: 1200px) {
  .banner-title {
    font-size: 50px;
    letter-spacing: 18px;
  }

  .prayer-box {
    width: 70%;
    height: auto;
  }
}

/* Banner Styling */
.additional-banner-title {
  text-align: center;
  justify-content: center;
  font-weight: bold;
  color: #4e4c45;
  letter-spacing: 15px;
  font-size: 60px;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* Heading styling */
h2 {
  font-size: 50px;
  color: #5c3d32;  /* Dark brown color for heading */
  font-weight: bold;
  margin-bottom: 10px; /* Larger margin bottom for spacing */
  text-transform: uppercase;
  letter-spacing: 2px; /* Slight letter spacing for a modern look */
  text-align: center;
}

.basic-prayer-section {
  background-size: cover;
  background-position: center;
  padding: 40px 20px;
}
 /* Basic Prayer Container */
 .basic-prayer-container {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 700px;
  max-width: 100%;
  height: 500px; 
  border-radius: 12px; 
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  background-color: #ffffff; 
  margin: 0 auto; 


/* Ensure iframe is fully responsive */
iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Responsive Design */
@media (max-width: 480px) {
  .basic-prayer-container {
    width: 100%;
    height: 500px;  /* Adjust height for mobile */
  }
}
 }


// -------------------------------------- 
/* Gospel of the Day Section */
// --------------------------------------

  .section-content-two {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
  }

  .video-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
    iframe {
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      height: 340px;
      width: 350px;
    }

/* Media Query for tablets (small devices) */
@media (max-width: 768px) {

  .additional-banner-title{
    font-size: 1.5rem;
  }

  .iframe {
    height: 300px;
    width: 100%;
  }
  .video-container {
    margin-top: 20px;
  }
}

/* Media Query for mobile devices */
@media (max-width: 375px) {

  .additional-banner-title{
    font-size: .8rem;
  }

  iframe {
    height: 500px;
    width: 100%;
  }

  .video-container {
    margin-top: 15px;
  }
}

/* Media Query for large screens (desktops, large devices) */
@media (min-width: 1201px) {
  iframe {
    height: 515px;
    width: 430px;
  }
}

.jumbotron {
  background: url('https://media.istockphoto.com/id/471929136/photo/church.jpg?s=612x612&w=0&k=20&c=ieviZPxGysGE6bcCvz4FNzcBDpEvTIYtplc9PgrptQw=') no-repeat center center/cover; 
  padding: 130px 70px; 
  color: #FFFFFF; 
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap; // Ensure responsive layout
  }

    .left-column2 {
      flex: 1 1 50%; // Left side (image) takes 50% of the width
      h1 {
        font-size: 4rem;
        color: #ffffff; 
        margin-bottom: 15px;
        font-weight: bold;
      }
    }

    .right-column {
      flex: 1 1 40%; // Right side (text) takes 40% of the width
      padding-left: 30px;
      text-align: left;
      
      h1 {
        font-size: 4rem;
        color: #5D4037; // Rich brown for the heading
        margin-bottom: 15px;
        font-weight: bold;
      }
      
      
    }

    .right-column2 {
      flex: 1 1 40%; // Right side (text) takes 40% of the width
      padding-left: 30px;
      text-align: left;
      
      .cta-button {
        display: inline-block;
        background-color: #5D4037; // Soft brown for the button
        color: white;
        padding: 15px 40px;
        font-size: 1.25rem;
        text-align: center;
        border-radius: 50px;
        text-decoration: none;
        transition: background-color 0.3s, transform 0.3s;
        
        &:hover {
          background-color: #48312a; // Darker brown when hovered
          transform: scale(1.05); // Slight zoom effect on hover
        }
      }
      
    }

// --------------------------------------
// Liturgical Calendar Page Styles
// --------------------------------------

.liturgical-calendar {
  background-color: #f7f1e1;  // Light brownish background for a soft feel
  padding: 50px 20px;
  text-align: center;

  .title-container {
    margin-bottom: 30px;
    
    h1 {
      font-size: 50px;
      font-weight: bold;
      color: #4e4c45;  // Dark brown color
      letter-spacing: 15px;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .iframe-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;  // White background for iframe container
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
    iframe {
      width: 100%;
      height: 800px;  // Default height for desktop view
      border: none;
      border-radius: 8px;
    }
  }

  // Responsiveness for smaller screens
  @media (max-width: 480px) {
    .liturgical-calendar {
      padding: 20px;
    }

    .iframe-container iframe {
      height: 600px;  // Smaller height for mobile
    }

    .title-container h1 {
      font-size: 38px;  // Adjust font size on smaller screens
      letter-spacing: 10px;
    }
  }
}


   // --------------------------------------
/* Footer Container */
// --------------------------------------
.footer {
  background-color: #4e3629;;
  color: white;
  padding: 40px 20px;
  text-align: center;

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }

  /* Logos Section */
  .logo-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;

    .footer-logo {
      max-width: 150px;
      height: auto;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  /* Links Section */
  .links-container {
    margin: 20px 0;
  }

  .footer-links {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 10px;
    }

    a {
      color: #ecf0f1;
      text-decoration: none;
      font-size: 16px;
      transition: color 0.3s;

      &:hover {
        color: #3498db;
      }
    }
  }

  /* Social Media Section */
  .social-media-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .social-icon img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}