ion-toolbar {
    --background: rgba(236, 225, 164, 0.5) !important;
  }
  
  /* Icon container for larger screens */
  .icon-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    margin: 0;
    background: transparent;
    padding: 10px 0;
  }
  
  .icon-container ion-button {
    --background: #8D6E63; /* Button background: Coffee Brown */
    --color: #FFFFFF; /* Icon/Text: White */
  }
  
  /* Hover Effect */
  .icon-container ion-button:hover {
    --background: #A1887F; /* Lighter brown on hover */
  }
  
  .icon-container ion-button-inner {
    color: #FFFFFF; /* Set button-inner to white */
  }
  
  .hamburger-menu { 
    display: none;
    z-index: 1000;
  }
  
  @media (max-width: 768px) {
    .hamburger-menu {
      display: block; 
      position: relative;  /* Ensure it’s positioned within its context */
      z-index: 1000;  /* Bring to front */
    }
    .icon-container {
      display: none;  /* Hide icons for smaller screens */
    }
  }
  
  /* Menu Styles */
  ion-menu {
    --width: 300px;
    --background: #FFF8E1; /* Light beige menu background */
    --border-color: transparent; /* Remove borders */
    --box-shadow: none; /* Eliminate black shadows */
    z-index: 10;
  }
  
  ion-menu::part(container) {
    background-color: #d0a30e !important; /* Ensure consistent background color */
    border: none !important;
    box-shadow: none !important;
  }
  
  /* Menu Item Styles */
  ion-menu ion-item {
    font-size: 16px;
    --background: #D7CCC8; /* Light coffee color */
    --color: #5D4037; /* Text: Dark coffee brown */
    border-radius: 8px;
    margin: 5px 10px;
  }
  
  ion-menu ion-item:hover {
    --background: #A1887F; /* Lighter brown on hover */
    --color: #FFFFFF; /* White text on hover */
  }
  
  ion-menu ion-icon {
    font-size: 24px;
    color: #795548; /* Medium brown for icons */
  }
  
  ion-menu ion-icon:hover {
    color: #4E342E; /* Darker brown on hover */
  }
  
  .list-md {
    --background: #EFEBE9; /* Light beige */
    border-radius: 10px;
  }
  
  .list-md hydrated {
    font-size: 14px;
    --color: #4E342E; /* Dark coffee brown text */
    padding: 10px 15px;
  }
  