<ion-content>
<!---------------------->
<!-- Jumbotron Section -->
<!---------------------->
<div class="jumbotron">
  <img src="https://images.unsplash.com/photo-1689443111384-1cf214df988a?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Z2FtaW5nJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D" alt="Game Background" class="jumbotron-img">
  <h1>Welcome to the Game Page!</h1>
  <p>Explore exciting games and new experiences. Immerse yourself in the fun and challenge your skills!</p>
</div>

<!---------------------->
<!-- Game Dropdown Section -->
<!---------------------->
<div class="game-container">
  <!-- Dropdown list of games -->
  <ion-item button (click)="toggleGame('game1')">
    <ion-label>Game 1: WanderLight: A Pilgrim's Adventure (PC Screen Only)</ion-label>
    <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
  </ion-item>
  <div *ngIf="selectedGame === 'game1'">
    <iframe src="https://demo.wanderlightgame.com/" style="width: 100%; height: 500px;"></iframe>
    <ion-button expand="full" href="https://demo.wanderlightgame.com/" target="_blank" class="visit-game-btn">
      Visit Game Website
    </ion-button>
  </div>

  <ion-item button (click)="toggleGame('game2')">
    <ion-label>Game 2: Noah's Dove Quest</ion-label>
    <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
  </ion-item>
  <div *ngIf="selectedGame === 'game2'">
    <iframe src="https://ph-en.superbook.cbn.com/pages/games/dove-quest" style="width: 100%; height: 500px;"></iframe>
    <ion-button expand="full" href="https://ph-en.superbook.cbn.com/pages/games/dove-quest" target="_blank" class="visit-game-btn">
      Visit Game Website
    </ion-button>
  </div>

  <ion-item button (click)="toggleGame('game3')">
    <ion-label>Game 3: Bible Explorer Card Game</ion-label>
    <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
  </ion-item>
  <div *ngIf="selectedGame === 'game3'">
    <iframe src="https://ph-en.superbook.cbn.com/pages/games/bible-explorer" style="width: 100%; height: 500px;"></iframe>
    <ion-button expand="full" href="https://ph-en.superbook.cbn.com/pages/games/bible-explorer" target="_blank" class="visit-game-btn">
      Visit Game Website
    </ion-button>
  </div>

  <ion-item button (click)="toggleGame('game4')">
    <ion-label>Game 4: Quiz Angel</ion-label>
    <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
  </ion-item>
  <div *ngIf="selectedGame === 'game4'">
    <iframe src="https://games.freechristianillustrations.com/ocs/index.html" style="width: 100%; height: 500px;"></iframe>
    <ion-button expand="full" href="https://games.freechristianillustrations.com/ocs/index.html" target="_blank" class="visit-game-btn">
      Visit Game Website
    </ion-button>
  </div>

  <ion-item button (click)="toggleGame('game5')">
    <ion-label>Game 5: Rapid-Fire QUIZ</ion-label>
    <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
  </ion-item>
  <div *ngIf="selectedGame === 'game5'">
    <iframe src="https://games.adventurebible.com/islands/18337/games/6" style="width: 100%; height: 500px;"></iframe>
    <ion-button expand="full" href="https://games.adventurebible.com/islands/18337/games/6" target="_blank" class="visit-game-btn">
      Visit Game Website
    </ion-button>
  </div>
</div>



<!---------------------------------->
<!-- Footer Section -->
 <!---------------------------------->
<footer class="footer">
  <div class="footer-container">
    
    <!-- Logos Container -->
    <div class="logo-container">
      <a href="https://www.facebook.com/MinistryOnCampusPLM" target="_blank">
        <img src="assets/cmlogo.png" 
        alt="Campus Ministry Logo" class="footer-logo">
      </a>
      <a href="https://www.facebook.com/@officialacymanila" target="_blank">
        <img src="assets/acylogo.jpg" 
        alt="Archdiocesan Commission on Youth Logo" class="footer-logo">
      </a>
      <a href="https://www.facebook.com/rcamph" target="_blank">
        <img src="assets/rcamlogo.jpg" 
        alt="RCAM Logo" class="footer-logo">
      </a>
    </div>

    <!-- Links Container -->
<div class="links-container">
  <ul class="footer-links">
    <li><a href="https://cbcpnews.net/" target="_blank">CBCP News</a></li>
    <li><a href="https://www.facebook.com/@officialacymanila" target="_blank">ACY - Manila</a></li>
    <li><a href="https://caritasmanila.org.ph/donate/" target="_blank">Donate on Caritas Manila</a></li>
    <li><a href="http://www.plm.edu.ph/" target="_blank">PLM Website</a></li>
    <li><a href="https://www.facebook.com/evangelionfoundationinc" target="_blank">Evangelion Foundation</a></li>
    <li><a href="https://github.com/PLM-Campus-Ministry-Website/PLM_CampusMinistry#meet-the-web-engineers" target="_blank">Developers</a></li>
  </ul>
</div>

    <!-- Social Media Container -->
    <div class="social-media-container">
      <a href="https://www.facebook.com/MinistryOnCampusPLM" target="_blank" class="social-icon">
        <img src="https://static.vecteezy.com/system/resources/previews/023/986/594/non_2x/facebook-logo-facebook-logo-transparent-facebook-icon-transparent-free-free-png.png" 
        alt="Facebook" />
      </a>
      <a href="mailto:plm.ministryoncampus@gmail.com" class="social-icon">
        <img src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/112-gmail_email_mail-512.png" alt="Email" />
      </a>    
    </div>
  </div>
</footer>



</ion-content>








