<ion-header>
  <ion-toolbar>
    <!-- Logo on the left -->
    <ion-buttons slot="start">
      <img src="assets/logo.png" alt="Logo" style="height: 40px; margin-left: 10px;" />
    </ion-buttons>

    <!-- Hamburger menu for mobile -->
    <ion-buttons slot="end" class="hamburger-menu">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <!-- Navigation bar for larger screens -->
    <div class="icon-container">
      <ion-button routerLink="/home" routerLinkActive="active" data-label="Home">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/game" data-label="Search">
        <ion-icon slot="icon-only" name="game-controller-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/prayer" routerLinkActive="active" data-label="Prayer">
        <ion-icon slot="icon-only" name="book-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/meditation" routerLinkActive="active" data-label="Meditation">
        <ion-icon slot="icon-only" name="leaf-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/music" routerLinkActive="active" data-label="Music">
        <ion-icon slot="icon-only" name="musical-notes-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main-content" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/home">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>
      <ion-item routerLink="/game">
        <ion-icon name="game-controller-outline" slot="start"></ion-icon>
        <ion-label>Game</ion-label>
      </ion-item>
      <ion-item routerLink="/prayer">
        <ion-icon name="book-outline" slot="start"></ion-icon>
        <ion-label>Prayer</ion-label>
      </ion-item>
      <ion-item routerLink="/meditation">
        <ion-icon name="leaf-outline" slot="start"></ion-icon>
        <ion-label>Meditation</ion-label>
      </ion-item>
      <ion-item routerLink="/music">
        <ion-icon name="musical-notes-outline" slot="start"></ion-icon>
        <ion-label>Music</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>

<ion-content>
 

<!---------------------->
<!--  Section -->
<!---------------------->
<!-- Jumbotron Section -->
 <!-- Jumbotron Section -->
 <div class="jumbotron">
  <h1>Welcome to the Game Page!</h1>
  <p>Explore exciting games and new experiences. Immerse yourself in the fun and challenge your skills!</p>
</div>


<!---------------------------------->
<!-- Footer Section -->
 <!---------------------------------->
<footer class="footer">
  <div class="footer-container">
    
    <!-- Logos Container -->
    <div class="logo-container">
      <a href="https://www.facebook.com/MinistryOnCampusPLM" target="_blank">
        <img src="https://scontent.fmnl3-1.fna.fbcdn.net/v/t39.30808-6/326483441_1698191700598383_1310377496699924044_n.png?_nc_cat=107&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeEYVADGIqAuoPwbAjjnfKfBaeH_mgcAryNp4f-aBwCvI1gDmiDGe-WXBKMfFcO2nt7EIjwgHWkwm9dFHlFR0hXK&_nc_ohc=LklOqxBu9qoQ7kNvgH5tN-o&_nc_zt=23&_nc_ht=scontent.fmnl3-1.fna&_nc_gid=AC9Rp8ddz2OTJqJ5q8XvaVQ&oh=00_AYC1rKoo6wo1ETR1MCAiVQLUlNlUGTv_OvixwXZg0rANZQ&oe=674D3918" 
        alt="Campus Ministry Logo" class="footer-logo">
      </a>
      <a href="https://www.facebook.com/@officialacymanila" target="_blank">
        <img src="https://scontent.fmnl37-2.fna.fbcdn.net/v/t39.30808-6/271967090_5237429019601950_8287055238800279513_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=a5f93a&_nc_eui2=AeHMapmVc03ATpBLpmBkxFjj3hqz1KQzZCLeGrPUpDNkIliO8-ZM8zbgpX5z0-H9-vPIekfO0qczokLcIAdUMkDM&_nc_ohc=4mFipt_xflIQ7kNvgGlTE20&_nc_zt=23&_nc_ht=scontent.fmnl37-2.fna&_nc_gid=Am74P-sZzZBTPmGcVA-y7pG&oh=00_AYDkYngaDAKK8qCVHdr1I9U3BlidmW_5DzCShWuq2WwuVQ&oe=674D2A43" 
        alt="Archdiocesan Commission on Youth Logo" class="footer-logo">
      </a>
      <a href="https://www.facebook.com/rcamph" target="_blank">
        <img src="https://scontent.fmnl3-1.fna.fbcdn.net/v/t39.30808-6/291574445_104850605621863_3512749474094648548_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=a5f93a&_nc_eui2=AeGe2JnkNzQr7f6wcX-33ic-Yqy2LaLBCr9irLYtosEKv8qbzbphhFd-KI9zvXDiuSO8LCAr5cyNufgax6Keywj8&_nc_ohc=HBWyKrjppvcQ7kNvgHqCEkX&_nc_zt=23&_nc_ht=scontent.fmnl3-1.fna&_nc_gid=AjwGGtxd8idcKkrX2YRifyj&oh=00_AYDT_s_leXMisi4BS7mH6BjATPefn5aXY9b-l7i5CGD52w&oe=674D250B" 
        alt="RCAM Logo" class="footer-logo">
      </a>
    </div>

    <!-- Links Container -->
    <div class="links-container">
      <ul class="footer-links">
        <li><a href="https://cbcpnews.net/" target="_blank">CBCP News</a></li>
        <li><a href="https://www.facebook.com/@officialacymanila" target="_blank">ACY - Manila</a></li>
        <li><a href="https://caritasmanila.org.ph/donate/" target="_blank">Donate on Caritas Manila</a></li>
        <li><a href="http://www.plm.edu.ph/" target="_blank">PLM Website</a></li>
        <li><a href="https://www.facebook.com/evangelionfoundationinc" target="_blank">Evangelion Foundation</a></li>
      </ul>
    </div>

    <!-- Social Media Container -->
    <div class="social-media-container">
      <a href="https://www.facebook.com/MinistryOnCampusPLM" target="_blank" class="social-icon">
        <img src="https://static.vecteezy.com/system/resources/previews/023/986/594/non_2x/facebook-logo-facebook-logo-transparent-facebook-icon-transparent-free-free-png.png" 
        alt="Facebook" />
      </a>
      <a href="mailto:plm.ministryoncampus@gmail.com" class="social-icon">
        <img src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/112-gmail_email_mail-512.png" alt="Email" />
      </a>    
    </div>
  </div>
</footer>



</ion-content>








