<ion-content>
  <section class="quote-section">
    <div class="container">
      <blockquote class="quote">
        <p>“I will praise the name of God with a song, and will magnify him with thanksgiving.”</p>
        <footer>- Psalm 69:30</footer>
      </blockquote>
    </div>
  </section>
  <br>

  <section class="petron">
    <div class="container">
      <!-- Left Column (Image) -->
      <ion-card class="small-card">
        <ion-card-header>
          <ion-card-title>AMAZING GRACE</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <!-- Spotify Embed for Card 1 -->
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5m0bbbwZxwcH8nSxFhnUKm?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </ion-card-content>
      </ion-card>
      <!-- Right Column (Text) -->
      <div class="right-column">
        <h1>AMAZING GRACE</h1>
        <p>1
          Amazing grace! how sweet the sound,
            That saved a wretch; like me!
          I once was lost, but now am found,
            Was blind, but now I see.
        </p>
        <p>
          2
          ’Twas grace that taught my heart to fear,
            And grace my fears relieved;
          How precious did that grace appear
            The hour I first believed!
        </p>
        <p>
          3
          The Lord hath promised good to me,
            His word my hope secures;
          He will my shield and portion be
            As long as life endures.
          </p>
          <p>
          4
          When we’ve been there ten thousand years,
            Bright shining as the sun,
          We’ve no less days to sing God’s praise
            Than when we first begun.</p>
      </div>
    </div>
  </section>
  
  <ion-grid>
<!-- Row 2 -->
<ion-row>
  <ion-col size="12" size-md="4" class="card-col">
    <ion-card class="small-card">
      <ion-card-header>
        <ion-card-title>LORD WE GATHER TODAY</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <iframe class="spotify-iframe" src="https://open.spotify.com/embed/track/5xpYnaQ7J9HHQityBNtDdR?utm_source=generator&theme=1" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col size="12" size-md="4" class="card-col">
    <ion-card class="small-card">
      <ion-card-header>
        <ion-card-title>JUST AS I AM</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <iframe class="spotify-iframe" src="https://open.spotify.com/embed/track/25aqJRjDJ321qamzy71sK3?utm_source=generator&theme=1" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col size="12" size-md="4" class="card-col">
    <ion-card class="small-card">
      <ion-card-header>
        <ion-card-title>HESUS NG AKING BUHAY</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <iframe class="spotify-iframe" src="https://open.spotify.com/embed/track/5VCFkR5xedaFlJRoSz3uEd?utm_source=generator&theme=1" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
  
    <!-- Row 2 -->
    <ion-row>
      <ion-col size="12" size-md="4" class="card-col">
        <ion-card class="small-card">
          <ion-card-header>
            <ion-card-title>OCEANS</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <iframe class="spotify-iframe" src="https://open.spotify.com/embed/track/5SDcksP8En1l6RtTY1wzHc?utm_source=generator&theme=1" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4" class="card-col">
        <ion-card class="small-card">
          <ion-card-header>
            <ion-card-title>LEAD ME LORD</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <iframe class="spotify-iframe" src="https://open.spotify.com/embed/track/31Z8a8TVSOK5qMtkCfp05m?utm_source=generator&theme=1" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4" class="card-col">
        <ion-card class="small-card">
          <ion-card-header>
            <ion-card-title>ON EAGLE'S WINGS</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <iframe class="spotify-iframe" src="https://open.spotify.com/embed/track/0leneXML0z4Si2hqSDBHKw?utm_source=generator&theme=1" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  
    <!-- Row 3 -->
    <ion-row>
      <ion-col size="12" size-md="4" class="card-col">
        <ion-card class="small-card">
          <ion-card-header>
            <ion-card-title>HERE I AM LORD</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <iframe class="spotify-iframe" src="https://open.spotify.com/embed/track/5IAMr5o8fOUxaiuy4hKuVR?utm_source=generator&theme=1" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4" class="card-col">
        <ion-card class="small-card">
          <ion-card-header>
            <ion-card-title>TANGING YAMAN</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <iframe class="spotify-iframe" src="https://open.spotify.com/embed/track/1v0HUgBF7z2FYphiDh81Jy?utm_source=generator&theme=1" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4" class="card-col">
        <ion-card class="small-card">
          <ion-card-header>
            <ion-card-title>WHAT A BEAUTIFUL NAME</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5XCtjnFMKtCT7ycDwV3Kdh?utm_source=generator&theme=1" width="100%" height="152" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
  
<section class="quote-section">
  <div class="container">
    <blockquote class="quote">
      <p>"We get nearer to the Lord through music than perhaps through any other thing except prayer".</p>
      <footer>PRAYER MUSIC</footer>
    </blockquote>
  </div>
</section>

<!-- 3 columns-->
<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="4" class="card-col">
      <ion-card class="small-card">
        <ion-card-header>
          <ion-card-title>ANIMA CHRISTI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <iframe class="spotify-iframe" src="https://open.spotify.com/embed/track/7ugjOxjIyZS9wsPhDbfsq0?utm_source=generator&theme=1" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-md="4" class="card-col">
      <ion-card class="small-card">
        <ion-card-header>
          <ion-card-title>AWIT NG PAGHAHANGAD</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <iframe class="spotify-iframe" src="https://open.spotify.com/embed/track/1D06ExjtJYJGH34X9MOu61?utm_source=generator&theme=1" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-md="4" class="card-col">
      <ion-card class="small-card">
        <ion-card-header>
          <ion-card-title>IN HIM ALONE</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <iframe class="spotify-iframe" src="https://open.spotify.com/embed/track/3Y0NQ0XMscgChoT0NutRQB?utm_source=generator&theme=1" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<section class="jumbotron">
  <div class="container">
    <!-- Left Column (Image) -->
    <div class="left-column">
      <img src="assets/pray.jpg" alt="Image" />
    </div>
    
    <!-- Right Column (Text) -->
    <div class="right-column">
      <h1>PRAYER SONGS</h1>
      <p>Prayer songs help us grow closer to God by allowing us to express our thoughts, emotions, and desires through music. These songs create a peaceful and reflective atmosphere, where we can open our hearts to God in worship and gratitude. As we sing, we are reminded of His love, grace, and presence in our lives. Prayer songs often serve as a powerful way to connect with the divine, allowing us to communicate not just with words, but through the rhythm and melody that stir our spirits. In this way, prayer songs become a form of spiritual practice, deepening our relationship with God and drawing us nearer to His presence.</p>
      <a href="https://open.spotify.com/playlist/4JjJDV7LScCkr3b2993pcK?si=J3UQk8DtQDmscVptAScU0g" target="_blank" class="cta-button">Hear More</a>
    </div>
  </div>
</section>

<!---------------------------------->
<!-- Footer Section -->
 <!---------------------------------->
 <footer class="footer">
  <div class="footer-container">
    
    <!-- Logos Container -->
    <div class="logo-container">
      <a href="https://www.facebook.com/MinistryOnCampusPLM" target="_blank">
        <img src="assets/cmlogo.png" 
        alt="Campus Ministry Logo" class="footer-logo">
      </a>
      <a href="https://www.facebook.com/@officialacymanila" target="_blank">
        <img src="assets/acylogo.jpg" 
        alt="Archdiocesan Commission on Youth Logo" class="footer-logo">
      </a>
      <a href="https://www.facebook.com/rcamph" target="_blank">
        <img src="assets/rcamlogo.jpg" 
        alt="RCAM Logo" class="footer-logo">
      </a>
    </div>

    <!-- Links Container -->
<div class="links-container">
  <ul class="footer-links">
    <li><a href="https://cbcpnews.net/" target="_blank">CBCP News</a></li>
    <li><a href="https://www.facebook.com/@officialacymanila" target="_blank">ACY - Manila</a></li>
    <li><a href="https://caritasmanila.org.ph/donate/" target="_blank">Donate on Caritas Manila</a></li>
    <li><a href="http://www.plm.edu.ph/" target="_blank">PLM Website</a></li>
    <li><a href="https://www.facebook.com/evangelionfoundationinc" target="_blank">Evangelion Foundation</a></li>
    <li><a href="https://github.com/PLM-Campus-Ministry-Website/PLM_CampusMinistry#meet-the-web-engineers" target="_blank">Developers</a></li>
  </ul>
</div>

    <!-- Social Media Container -->
    <div class="social-media-container">
      <a href="https://www.facebook.com/MinistryOnCampusPLM" target="_blank" class="social-icon">
        <img src="https://static.vecteezy.com/system/resources/previews/023/986/594/non_2x/facebook-logo-facebook-logo-transparent-facebook-icon-transparent-free-free-png.png" 
        alt="Facebook" />
      </a>
      <a href="mailto:plm.ministryoncampus@gmail.com" class="social-icon">
        <img src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/112-gmail_email_mail-512.png" alt="Email" />
      </a>    
    </div>
  </div>
</footer>

</ion-content>



